@charset "UTF-8";
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.wrapper {
  width: 100%;
  margin: 1em auto;
}

.wrapper, .row {
  *zoom: 1;
}

.wrapper:before, .row:before, .wrapper:after, .row:after {
  content: " ";
  display: table;
}

.wrapper:after, .row:after {
  clear: both;
}

[class*='col'] {
  float: left;
  padding: 1em 1em 1em 1em;
  width: 100%;
  min-height: 1px;
}

@media (min-width: 43.75em) and (max-width: 56.24em) {
  .wrapper {
    width: 95%;
    max-width: 80%;
  }
  .col-1 {
    width: 8.33333%;
  }
  .col-2 {
    width: 16.66667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333%;
  }
  .col-5 {
    width: 41.66667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333%;
  }
  .col-8 {
    width: 66.66667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333%;
  }
  .col-11 {
    width: 91.66667%;
  }
  .col-12 {
    width: 100%;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .wrapper {
    width: 95%;
    max-width: 45em;
  }
  .col-1 {
    width: 8.33333%;
  }
  .col-2 {
    width: 16.66667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333%;
  }
  .col-5 {
    width: 41.66667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333%;
  }
  .col-8 {
    width: 66.66667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333%;
  }
  .col-11 {
    width: 91.66667%;
  }
  .col-12 {
    width: 100%;
  }
}

@media (min-width: 100em) {
  .wrapper {
    width: 95%;
    max-width: 60em;
  }
  .col-1 {
    width: 8.33333%;
  }
  .col-2 {
    width: 16.66667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333%;
  }
  .col-5 {
    width: 41.66667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333%;
  }
  .col-8 {
    width: 66.66667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333%;
  }
  .col-11 {
    width: 91.66667%;
  }
  .col-12 {
    width: 100%;
  }
}

@font-face {
  font-family: "Hk-light";
  src: url("../fonts/WEB/HKGrotesk-Light.woff") format("woff");
}

@font-face {
  font-family: "Hk-xbold";
  src: url("../fonts/WEB/HKGrotesk-Extrabold.woff") format("woff");
}

@font-face {
  font-family: "Hk-reg";
  src: url("../fonts/WEB/HKGrotesk-Regular.woff") format("woff");
}

@font-face {
  font-family: "Hk-bold";
  src: url("../fonts/WEB/HKGrotesk-Bold.woff") format("woff");
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-family: Hk-light;
}

@media (min-width: 21.25em) and (max-width: 43.74em) {
  body {
    padding: 1.5em;
  }
}

#main {
  background-image: url(/images/mainbackground.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh !important;
  text-align: center;
}

@media (min-width: 43.75em) {
  #main {
    background-size: cover;
  }
}

@media (min-width: 56.25em) and (max-width: 74.99em) {
  #main {
    height: 105vh !important;
  }
}

.leftheader {
  z-index: 1000;
  padding: 1em 0em 1em 1em;
  position: fixed;
  font-size: 1.75rem;
  font-family: Hk-bold;
  text-decoration: none;
  color: black;
  left: 0;
  top: 0;
}

@media (max-width: 1200px) {
  .leftheader {
    font-size: calc(1.3rem + 0.6vw) ;
  }
}

@media (min-width: 43.75em) {
  .leftheader {
    left: 1.5em;
    top: 1em;
  }
}

.leftheader:hover {
  color: #80DEEA;
}

.leftheader:hover span {
  color: black;
}

.rightheader {
  z-index: 1000;
  position: fixed;
  right: 0;
  top: 1.5em;
}

@media (min-width: 43.75em) {
  .rightheader {
    right: 3em;
    top: 4em;
  }
}

.rightheader .navlink {
  margin-right: 1.5em;
  font-size: 1.25rem;
  font-family: Hk-reg;
  color: black;
}

.rightheader .toi::after {
  content: "tôi ";
  white-space: pre;
}

.rightheader .toi:hover::after {
  content: "me";
}

.rightheader .ben::after {
  content: "bên";
}

.rightheader .ben:hover::after {
  content: "side";
}

.midheader {
  text-align: center;
  margin-bottom: 1em;
}

.space {
  margin-right: 2em;
}

.midheader .navlink {
  font-family: Hk-light;
  color: black;
}

.centered {
  text-align: center;
}

.view-work {
  border-bottom: 0.25em solid #80DEEA;
  font-size: 1.625rem;
  color: black;
}

@media (max-width: 1200px) {
  .view-work {
    font-size: calc(1.2875rem + 0.45vw) ;
  }
}

.heading {
  font-family: Hk-light !important;
  font-size: 1.25rem;
  color: #585858;
  text-align: center;
}

.skills {
  padding-top: 8em;
  margin-bottom: 8em;
}

#portfolio {
  margin-top: 2em;
  padding-top: 2em;
}

.navlink {
  font-family: Hk-bold;
  font-weight: normal;
  color: black;
  text-align: center;
}

a {
  text-decoration: none;
}

.title {
  padding-top: 2em;
}

.gap {
  margin-top: 4em;
}

h1 {
  font-family: Hk-bold;
  font-weight: normal;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  h1 {
    font-size: calc(1.325rem + 0.9vw) ;
  }
}

@media (min-width: 100em) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  h1 {
    font-size: calc(1.375rem + 1.5vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) and (max-width: 1200px) {
  h1 {
    font-size: calc(1.325rem + 0.9vw) ;
  }
}

h2 {
  font-family: Hk-bold;
  font-weight: normal;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  h2 {
    font-size: calc(1.325rem + 0.9vw) ;
  }
}

@media (min-width: 100em) {
  h2 {
    font-size: 2rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  h2 {
    font-size: calc(1.325rem + 0.9vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  h2 {
    font-size: 1.75rem;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) and (max-width: 1200px) {
  h2 {
    font-size: calc(1.3rem + 0.6vw) ;
  }
}

.subheading {
  font-family: Hk-light;
  text-align: center;
  font-size: 2rem;
  line-height: 1.5em;
}

@media (max-width: 1200px) {
  .subheading {
    font-size: calc(1.325rem + 0.9vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .subheading {
    font-size: 2.25rem;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) and (max-width: 1200px) {
  .subheading {
    font-size: calc(1.35rem + 1.2vw) ;
  }
}

@media (min-width: 100em) {
  .subheading {
    font-size: 3.6875rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .subheading {
    font-size: calc(1.49375rem + 2.925vw) ;
  }
}

.subheader {
  font-size: 1.5rem;
  font-family: Hk-light;
}

@media (max-width: 1200px) {
  .subheader {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

.mainpage {
  position: absolute;
  top: 40%;
}

.mainpage2 {
  position: absolute;
  top: 75%;
}

h3 {
  font-family: Hk-bold;
  font-weight: normal;
  margin-top: 3em;
  margin-bottom: 1.5em;
  font-size: 1.25rem;
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.5rem;
    margin-top: 1em;
  }
}

@media (min-width: 56.25em) and (max-width: 1200px) {
  h3 {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

h4 {
  font-family: Hk-light;
  font-weight: normal;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 1.25rem;
}

@media (min-width: 56.25em) {
  h4 {
    font-size: 1.375rem;
  }
}

@media (min-width: 56.25em) and (max-width: 1200px) {
  h4 {
    font-size: calc(1.2625rem + 0.15vw) ;
  }
}

p {
  color: black;
  line-height: 1.5em;
  margin-bottom: 1em;
}

em {
  font-family: Hk-bold;
}

.subtitle {
  line-height: 1.5em;
  margin-top: -0.5em;
  font-size: 1rem;
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .subtitle {
    font-size: 1.25rem;
  }
}

@media (min-width: 100em) {
  .subtitle {
    font-size: 1.5rem;
    margin-top: -0.25em;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .subtitle {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

.my {
  padding-top: 0;
  border-left: 0.5em solid #80DEEA;
}

span {
  color: #80DEEA;
  font-family: Hk-bold;
}

@media (min-width: 25em) and (max-width: 43.74em) {
  .value {
    text-align: center;
  }
}

@media (min-width: 21.25em) and (max-width: 43.74em) {
  .values {
    margin-top: -2em;
  }
}

.garmin {
  color: #007cc3;
}

.hive {
  color: #ebc347;
}

.piaro {
  color: #f38638;
}

.astro {
  color: #9DD19C;
}

.qfc {
  color: #81a565;
}

.side {
  color: #2d82e2;
}

.garbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10em;
  background-size: 9em;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 4em;
  background-image: url("../images/garmin.svg");
}

@media (min-width: 100em) {
  .garbox {
    height: 10em;
    background-size: 8em;
    font-size: 1.5rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .garbox {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .garbox {
    font-size: 1.25rem;
  }
}

.hbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10em;
  background-size: 9em;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 4em;
  background-image: url("../images/hivequeen.svg");
}

@media (min-width: 100em) {
  .hbox {
    height: 10em;
    background-size: 8em;
    font-size: 1.5rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .hbox {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .hbox {
    font-size: 1.25rem;
  }
}

.pbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10em;
  background-size: 9em;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 4em;
  background-size: 12em;
  background-image: url("../images/chat.svg");
}

@media (min-width: 100em) {
  .pbox {
    height: 10em;
    background-size: 8em;
    font-size: 1.5rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .pbox {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .pbox {
    font-size: 1.25rem;
  }
}

@media (min-width: 100em) {
  .pbox {
    background-size: 10em;
  }
}

.abox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10em;
  background-size: 9em;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 4em;
  background-image: url("../images/astro.svg");
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

@media (min-width: 100em) {
  .abox {
    height: 10em;
    background-size: 8em;
    font-size: 1.5rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .abox {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .abox {
    font-size: 1.25rem;
  }
}

.qbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10em;
  background-size: 9em;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 4em;
  background-image: url("../images/qfc.svg");
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
  background-size: 7em;
}

@media (min-width: 100em) {
  .qbox {
    height: 10em;
    background-size: 8em;
    font-size: 1.5rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .qbox {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .qbox {
    font-size: 1.25rem;
  }
}

@media (min-width: 100em) {
  .qbox {
    background-size: 6em;
  }
}

.sbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10em;
  background-size: 9em;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 4em;
  background-image: url("../images/side.png");
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

@media (min-width: 100em) {
  .sbox {
    height: 10em;
    background-size: 8em;
    font-size: 1.5rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .sbox {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .sbox {
    font-size: 1.25rem;
  }
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #80DEEA;
  height: 0.2em;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

.hvr-grow .underline:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  width: 0%;
  /* Change this to whatever width you want to have before hover. */
  border-bottom: 0.2em solid #007cc3;
  /* This creates the border. Replace black with whatever color you want. */
  -webkit-transition: .5s;
  transition: .5s;
  /* This establishes the amount of time in seconds the animation should take from start to finish */
}

.hvr-grow:hover .underline:after, .hvr-grow:focus .underline, .hvr-grow:active .underline {
  width: 100%;
}

.hvr-grow .underline1:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  width: 0%;
  /* Change this to whatever width you want to have before hover. */
  border-bottom: 0.2em solid #9DD19C;
  /* This creates the border. Replace black with whatever color you want. */
  -webkit-transition: .5s;
  transition: .5s;
  /* This establishes the amount of time in seconds the animation should take from start to finish */
}

.hvr-grow:hover .underline1:after, .hvr-grow:focus .underline, .hvr-grow:active .underline {
  width: 100%;
}

.hvr-grow .underline2:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  width: 0%;
  /* Change this to whatever width you want to have before hover. */
  border-bottom: 0.2em solid #ebc347;
  /* This creates the border. Replace black with whatever color you want. */
  -webkit-transition: .5s;
  transition: .5s;
  /* This establishes the amount of time in seconds the animation should take from start to finish */
}

.hvr-grow:hover .underline2:after, .hvr-grow:focus .underline, .hvr-grow:active .underline {
  width: 100%;
}

.hvr-grow .underline3:after {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  width: 0%;
  /* Change this to whatever width you want to have before hover. */
  border-bottom: 0.2em solid #81a565;
  /* This creates the border. Replace black with whatever color you want. */
  -webkit-transition: .5s;
  transition: .5s;
  /* This establishes the amount of time in seconds the animation should take from start to finish */
}

.hvr-grow:hover .underline3:after, .hvr-grow:focus .underline, .hvr-grow:active .underline {
  width: 100%;
}

#call {
  color: black;
  border-bottom: 1px solid #80DEEA;
}

#call:hover {
  color: #80DEEA;
}

.intro, .facts {
  margin-top: 1em;
}

@media (min-width: 100em) {
  .intro, .facts {
    margin-top: 8em;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .intro, .facts {
    margin-top: 6em;
  }
}

@media (min-width: 56.25em) {
  table {
    margin-left: 3em;
  }
}

th {
  font-family: Hk-bold;
  font-weight: normal;
  padding: .75em 0em .75em 0em;
  text-align: left;
}

.first {
  padding-top: 0;
  margin-top: 0;
}

td {
  padding: .75em 0em .75em .75em;
}

form {
  font-family: Hk-bold !important;
  margin-top: 6em;
}

input, textarea {
  width: 100%;
  border: 1px solid gray;
  border-radius: 4px;
  font-family: Hk-light;
  padding: 0.75em 0.5em 0.75em 0.5em;
  margin: 0.5em 0 1.5em 0;
  font-size: 1em;
}

@media (min-width: 43.75em) {
  input {
    width: 40%;
  }
}

#submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #80DEEA;
  background-color: transparent;
  font-family: Hk-bold;
}

@media (max-width: 43.74em) {
  #submit {
    width: 40%;
  }
}

@media (min-width: 43.75em) {
  #submit {
    width: 20%;
  }
}

#submit:hover {
  border: 2px solid #80DEEA;
  color: white;
  background-color: #80DEEA;
}

@media (max-width: 43.74em) {
  #submit:hover {
    width: 40%;
  }
}

@media (min-width: 43.75em) {
  #submit:hover {
    width: 20%;
  }
}

.contact {
  padding-top: 2em;
}

.text {
  margin-top: 1em;
}

@media (min-width: 100em) {
  .text {
    margin-top: 8em;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .text {
    margin-top: 6em;
  }
}

.me {
  -webkit-box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.2);
          box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.2);
}

@media (min-width: 43.75em) {
  .me {
    max-width: 400px;
  }
}

.shadow {
  -webkit-box-shadow: 0.25em 0.25em 0.7em rgba(0, 0, 0, 0.1);
          box-shadow: 0.25em 0.25em 0.7em rgba(0, 0, 0, 0.1);
}

hr {
  color: rgba(0, 0, 0, 0.2);
}

.lightbox {
  z-index: 4;
}

.dam {
  margin-top: 4em;
}

@media (min-width: 43.75em) and (max-width: 56.24em) {
  .gallery {
    height: 14em !important;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .gallery {
    height: 14em !important;
  }
}

@media (min-width: 100em) {
  .gallery {
    height: 16em !important;
  }
}

.overview {
  margin-bottom: 0em;
}

.pagination {
  color: black;
  font-family: Hk-light;
  margin-bottom: 4em;
}

.next {
  padding-left: 2em;
}

.pagination:hover {
  color: #80DEEA;
  font-family: Hk-bold;
}

.landing {
  text-align: center;
}

ul, ol {
  margin: 2em 2em 2em 2em;
}

@media (min-width: 56.25em) {
  ul, ol {
    margin: 2em 6em 2em 6em;
  }
}

ul {
  list-style-type: circle;
}

ul li, ol li {
  padding-bottom: 1em;
}

.footer {
  margin-top: -2em;
}

@media (min-width: 43.75em) {
  .footer {
    text-align: right;
    margin-top: 0em;
  }
}
/*# sourceMappingURL=base.css.map */