@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "Inter-Light-BETA";
  src: url("../fonts/Inter-Light-BETA.woff") format("woff");
}

html {
  overflow-y: scroll;
}

* {
  font-family: Inter-Light-BETA;
}

.container {
  padding: 2em;
}

.header {
  padding: 1em 0em 1em 0em;
}

@media (min-width: 56.25em) {
  .header {
    padding: 2.5em 0em 1em 0em;
  }
}

.subheader {
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .subheader {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

#profile {
  display: none;
}

@media (min-width: 56.25em) {
  #profile {
    float: right;
    margin-bottom: -1.5em;
    display: block;
  }
}

.navlink {
  font-family: Inter-Bold !important;
  color: black;
  margin-right: 0.8em;
}

@media (min-width: 35em) {
  .navlink {
    margin-right: 1.2em;
  }
}

@media (min-width: 43.75em) {
  .navlink {
    margin-right: 2em;
  }
}

.navlink:hover, .navactive {
  color: #80DEEA;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Inter-Bold;
  font-size: 4rem;
}

@media (max-width: 1200px) {
  h1 {
    font-size: calc(1.525rem + 3.3vw) ;
  }
}

h2 {
  font-family: Inter-Bold;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  h2 {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

p {
  color: black;
}

span {
  color: #80DEEA;
  font-family: Inter-Bold;
}

.garmin {
  color: #007cc3;
}

.hive {
  color: #ebc347;
}

.piaro {
  color: #f38638;
}

.qfc {
  color: #81a565;
  text-align: right;
}

.garbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2.5em;
  background-image: url("../images/garmin.png");
  margin-top: 2em;
}

@media (min-width: 56.25em) {
  .garbox {
    height: 10em;
    font-size: 1.125rem;
  }
}

@media (min-width: 35em) {
  .garbox {
    margin-top: 0em;
  }
}

.hbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2.5em;
  background-image: url("../images/hivequeen.png");
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

@media (min-width: 56.25em) {
  .hbox {
    height: 10em;
    font-size: 1.125rem;
  }
}

.pbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2.5em;
  background-image: url("../images/chat.png");
}

@media (min-width: 56.25em) {
  .pbox {
    height: 10em;
    font-size: 1.125rem;
  }
}

.qbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2.5em;
  background-image: url("../images/qfc.png");
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

@media (min-width: 56.25em) {
  .qbox {
    height: 10em;
    font-size: 1.125rem;
  }
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-grow:hover .underline, .hvr-grow:focus .underline, .hvr-grow:active .underline {
  border-bottom: 0.1em solid #007cc3;
}

.hvr-grow:hover .underline1, .hvr-grow:focus .underline1, .hvr-grow:active .underline1 {
  border-bottom: 0.1em solid #ebc347;
}

.hvr-grow:hover .underline2, .hvr-grow:focus .underline2, .hvr-grow:active .underline2 {
  border-bottom: 0.1em solid #f38638;
}

.hvr-grow:hover .underline3, .hvr-grow:focus .underline3, .hvr-grow:active .underline3 {
  border-bottom: 0.1em solid #81a565;
}

@media (min-width: 43.75em) {
  #gap {
    height: 8em;
  }
}

@media (min-width: 56.25em) {
  #gap {
    height: 20em;
  }
}

.nav-wrapper {
  height: 2.5rem;
  line-height: 2.5rem;
}

.nav-wrapper .nav {
  height: 2.5rem;
  line-height: 2.5rem;
}

.nav-wrapper .nav.fixed {
  position: fixed;
  z-index: 10000;
  background: white;
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 3rem;
  -webkit-box-shadow: 0 0em 1em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0em 1em rgba(0, 0, 0, 0.1);
}

@media (min-width: 43.75em) {
  .nav-wrapper .nav.fixed {
    padding-left: 7rem;
  }
}

footer {
  font-size: 0.875rem;
}

#call {
  color: black;
  border-bottom: 1px solid #80DEEA;
}

#call:hover {
  color: #80DEEA;
}

form {
  font-family: Inter-Bold !important;
  margin-top: 10em;
}

input, textarea {
  width: 100%;
  border: 1px solid gray;
  border-radius: 4px;
  font-family: Inter-Light-BETA;
  padding: 0.75em 0.5em 0.75em 0.5em;
  margin: 0.5em 0 1.75em 0;
}

@media (max-width: 43.74em) {
  input, textarea {
    font-size: 1.25em;
  }
}

textarea {
  min-width: 100%;
  max-width: 100%;
}

#submit {
  border: 2px solid #80DEEA;
  width: 25%;
  background-color: transparent;
  font-family: Inter-Bold;
}

#submit:hover {
  border: 2px solid #80DEEA;
  width: 25%;
  color: white;
  background-color: #80DEEA;
}

.contact {
  padding-top: 2em;
}
/*# sourceMappingURL=base.css.map */