@import 'layout';
@import 'components';
@import 'grid';
@import 'media-queries';
@import "../node_modules/rfs/scss";
// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@include font-face(Hk-light, "../fonts/WEB/HKGrotesk-Light", null, null, woff);
@include font-face(Hk-xbold, "../fonts/WEB/HKGrotesk-Extrabold", null, null, woff);
@include font-face(Hk-reg, "../fonts/WEB/HKGrotesk-Regular", null, null, woff);
@include font-face(Hk-bold, "../fonts/WEB/HKGrotesk-Bold", null, null, woff);

$light: Hk-light;
$bold: Hk-bold;
$color: #80DEEA;

//portfolio piece colors
$garmin: #007cc3;
$hive: #ebc347;
$piaro: #f38638;
$qfc: #81a565;
$astro: #9DD19C;
$side: rgb(45, 130, 226);
$gray: #585858;

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
	font-family: $light;
}

#main {
	background-image: url(/images/mainbackground.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	@include mq($from: tablet) {
		background-size: cover;
	}
	height: 100vh !important;
	@include mq($from: desktop, $until: desktop-reg) {
		height: 105vh !important;
	}
	text-align: center;
}

@mixin header {
	padding: 1em 0em 1em 1em;
	position: fixed;
	@include rfs(28);
	font-family: Hk-bold;
	text-decoration: none;
	color: black;
}

@mixin boldhead {
	font-family: Hk-bold;
	font-weight: normal;
}

.leftheader {
	z-index: 1000;
	@include header();
	left: 0;
	top: 0;
	@include mq($from: tablet) {
		left: 1.5em;
		top: 1em;	
	}
}

.leftheader:hover {
	color: $color;
}

.leftheader:hover span {
	color: black;
}

.rightheader {
	z-index: 1000;
	position: fixed;
	right: 0;
	top: 1.5em;
	@include mq($from: tablet) {
		right: 3em;
		top: 3em;	
	}
}

@include mq($from: mobile-sm, $until: tablet) {
	nav {
		background-color: white !important;
		height: 4.5em;
		z-index: 10;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	.wrapper {
		margin-top: 6em;
	}
	
}

@include mq($from: tablet, $until: desktop) {
	nav {
		background-color: white !important;
		height: 6em;
		z-index: 10;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
	.wrapper {
		margin-top: 6em;
	}
	
}


.rightheader .navlink {
	margin-right: 1.5em;
	@include rfs(20);
	font-family: Hk-reg;
	color: black;
}

.rightheader .toi::after {
	content: "tôi ";
	white-space: pre;
}

.rightheader .toi:hover::after {
	content: "me";
}

.rightheader .ben::after {
	content: "bên";
}

.rightheader .ben:hover::after {
	content: "side";
}

.midheader {
	text-align: center;
	margin-bottom: 1em;
}

.space {
	margin-right: 2em;
}

.midheader .navlink {
	font-family: $light;
	color: black;
}

.centered {
	text-align: center;
}


@mixin headline {
	border-bottom: .25em solid $color;
}

.view-work {
	@include headline();
	@include rfs(26);
	color: black;
}

.heading {
	font-family: $light !important;
	@include rfs(20);
	color: #585858;
	text-align: center;
}

.skills {
	padding-top: 8em;
	margin-bottom: 8em;
}

#portfolio {
	margin-top: 2em;
	padding-top: 2em;
}



.navlink {
	@include boldhead();
	color: black;
	text-align: center;
}

a {
	text-decoration: none;
}

.title {
	padding-top: 2em;
}

.gap {
	margin-top: 4em;
}


h1 {
	@include boldhead();
	@include rfs(32);
	@include mq($from: wide) {
		@include rfs(40); 
	}
	@include mq($from: desktop, $until: wide) {
		@include rfs(32);
	}
}

h2 {
	@include boldhead();
	@include rfs(32);
	@include mq($from: wide) {
		@include rfs(32); 
	}
	@include mq($from: desktop, $until: wide) {
		@include rfs(28);
	}
}

.subheading {
	font-family: $light;
	text-align: center;
	@include rfs(32);
	@include mq($from: desktop, $until: wide) {
		@include rfs(36);
	}
	@include mq($from: wide) {
		@include rfs(59);
	}
	line-height: 1.5em;
}

.subheader {
	@include rfs(24);
	font-family: $light;
}

.mainpage {
	position: absolute;
	top:40%;
}

.mainpage2 {
	position: absolute;
	top:75%;
}

h3 {
	@include boldhead();
	margin-top: 3em;
	margin-bottom: 1.5em;
	@include rfs(20);
	@include mq($from: desktop) {
		@include rfs(24); 
		margin-top: 1em;
	}
}

h4 {
	font-family: $bold;
	@include rfs(20);
	padding-left: 0.5em;
	border-left: 0.3em solid $color;
	margin-bottom: 1em;
	margin-top: 1em;
}

p {
	color: black;
	line-height: 1.5em;
	margin-bottom: 1em;
}

em {
	font-family: $bold;
}

.subtitle {
	line-height: 1.5em;
	margin-top: -0.5em;
	@include rfs(16);
	@include mq($from: desktop, $until: wide) {
		@include rfs(20);
	}
	@include mq($from: wide) {
		@include rfs(24);
		margin-top: -0.25em;
	}
}

.my {
	padding-top: 0;
	border-left: 0.5em solid $color;
}

span {
	color: $color;
	font-family: Hk-bold;
}

.value {
	@include mq($from: mobile, $until: tablet) {
		text-align: center;
	}
}

.values {
	@include mq($from: mobile-sm, $until: tablet) {
		margin-top: -2em;
	}
}

.garmin {
	color: $garmin;
}

.hive {
	color: $hive;
}

.piaro {
	color: $piaro;
}


.astro {
	color: $astro;
}

.qfc {
	color: $qfc;
}

.side {
	color: $side;
}

@mixin card {
	display: flex;
	align-items: center;
	height: 10em;
	background-size: 9em;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 4em;
	@include mq($from: wide) {
		height: 10em;
		background-size: 8em;
		@include rfs(24);
	}
	@include mq($from: desktop, $until: wide) {
		@include rfs(20);
	}
}

.garbox {
	@include card;
	background-image: url('../images/garmin.svg');

}

.hbox {
	@include card;
	background-image: url('../images/hivequeen.svg');
}

.pbox {
	@include card;
	background-size: 12em;
	background-image: url('../images/chat.svg');
	@include mq($from: wide) {
		background-size: 10em;
	}
}

.abox {
	@include card;
	background-image: url('../images/astro.svg');
	flex-direction: row-reverse;
	text-align: right;
}

.qbox {
	@include card;
	background-image: url('../images/qfc.svg');
	flex-direction: row-reverse;
	text-align: right;
	background-size: 7em;
	@include mq($from: wide) {
		background-size: 6em;
	}
}
.sbox {
	@include card;
	background-image: url('../images/side.png');
	flex-direction: row-reverse;
	text-align: right;
}

/* Grow */
.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
}

.hvr-float {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
  }

  /* Underline From Left */
.hvr-underline-from-left {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}

.hvr-underline-from-left:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: $color;
	height: 0.2em;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
	right: 0;
}

.hvr-grow .underline:after {
	content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
	width: 0%; /* Change this to whatever width you want to have before hover. */
    border-bottom: 0.2em solid $garmin; /* This creates the border. Replace black with whatever color you want. */
    transition: .5s; /* This establishes the amount of time in seconds the animation should take from start to finish */
}

.hvr-grow:hover .underline:after, .hvr-grow:focus .underline, .hvr-grow:active .underline {
	width: 100%;
}

.hvr-grow .underline1:after {
	content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
	width: 0%; /* Change this to whatever width you want to have before hover. */
    border-bottom: 0.2em solid $astro; /* This creates the border. Replace black with whatever color you want. */
    transition: .5s; /* This establishes the amount of time in seconds the animation should take from start to finish */
}

.hvr-grow:hover .underline1:after, .hvr-grow:focus .underline, .hvr-grow:active .underline {
	width: 100%;
}

.hvr-grow .underline2:after {
	content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
	width: 0%; /* Change this to whatever width you want to have before hover. */
    border-bottom: 0.2em solid $hive; /* This creates the border. Replace black with whatever color you want. */
    transition: .5s; /* This establishes the amount of time in seconds the animation should take from start to finish */
}

.hvr-grow:hover .underline2:after, .hvr-grow:focus .underline, .hvr-grow:active .underline {
	width: 100%;
}

.hvr-grow .underline3:after {
	content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
	width: 0%; /* Change this to whatever width you want to have before hover. */
    border-bottom: 0.2em solid $qfc; /* This creates the border. Replace black with whatever color you want. */
    transition: .5s; /* This establishes the amount of time in seconds the animation should take from start to finish */
}

.hvr-grow:hover .underline3:after, .hvr-grow:focus .underline, .hvr-grow:active .underline {
	width: 100%;
}

#call {
	color: black;
	border-bottom: 1px solid $color;
}

#call:hover {
	color: $color;
}

@mixin spacing {
	margin-top: 1em;
	@include mq($from: wide) {
		margin-top: 4em;
	}
	@include mq($from: desktop, $until: wide) {
		margin-top: 6em;
	}
}

.intro, .facts {
	@include spacing();
}

table {
	@include mq($from: desktop) {
		margin-left: 3em;
	}
}

th {
	font-family: $bold;
	font-weight: normal;
	padding: .75em 0em .75em 0em;
	text-align: left;
}

.first {
	padding-top: 0;
	margin-top: 0;
}

td {
	padding: .75em 0em .75em .75em;
}
form {
	font-family: $bold !important;
	margin-top: 6em;

}

input, textarea {
	width:100%;
	border: 1px solid gray;
	border-radius: 4px;
	font-family: $light;
	padding: 0.75em 0.5em 0.75em 0.5em;
	margin: 0.5em 0 1.5em 0;
	font-size: 1em;
}

input {
	@include mq($from: tablet) {
		width: 40%;
	}
}

#submit {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 2px solid $color;
	background-color: transparent;
	font-family: $bold;
	@include mq($until: tablet) {
		width: 40%;
	}
	@include mq($from: tablet) {
		width: 20%;
	}
}

#submit:hover {
	border: 2px solid $color;
	color: white;
	background-color: $color;
	@include mq($until: tablet) {
		width: 40%;
	}
	@include mq($from: tablet) {
		width: 20%;
	}
}
.contact {
	padding-top: 2em;
}

.text {
	@include spacing();
}

.me {
	box-shadow: 0em .25em .5em rgba(0, 0, 0, 0.2);
	@include mq($from: tablet) {
		max-width: 400px;
	}
}

.shadow {
	box-shadow: .25em .25em .7em rgba(0, 0, 0, 0.1);
}

hr {
	color: rgba(0, 0, 0, 0.2);
}

.lightbox {
	z-index: 4;
}

.dam {
	margin-top: 4em;
}

.gallery {
	@include mq($from: tablet, $until: desktop) {
		height: 14em !important;
	}
	@include mq($from: desktop, $until: wide) {
		height: 14em !important;
	}
	@include mq($from: wide) {
		height: 16em !important;
	}
}

.overview {
	margin-bottom: 0em;
}

.pagination {
	color: black;
	font-family: $light;
	margin-bottom: 4em;
}

.next {
	padding-left: 2em;
}

.pagination:hover {
	color: $color;
	font-family: $bold;
}

.landing {
	text-align: center;
}

ul, ol {
	margin: 2em 2em 2em 2em;
	@include mq($from: desktop) {
		margin: 2em 6em 2em 6em;
	}
}

ul {
	list-style-type: circle;
}

ul li, ol li {
	padding-bottom: 1em;
}

.footer {
	@include mq($from: tablet) {
		text-align: right;
		margin-top: 0em;
	}
	margin-top: -2em;
}