@import 'layout';
@import 'components';
@import 'grid';
@import 'media-queries';
@import "../node_modules/rfs/scss";
// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@include font-face(Inter-Bold, "../fonts/Inter-Bold", null, null, woff);
@include font-face(Inter-Light-BETA, "../fonts/Inter-Light-BETA", null, null, woff);

$light: Inter-Light-BETA;
$bold: Inter-Bold;
$color: #80DEEA;

//portfolio piece colors
$garmin: #007cc3;
$hive: #ebc347;
$piaro: #f38638;
$qfc: #81a565;
$astro: #9DD19C;
$side: rgb(45, 130, 226);

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}
* {
	font-family: $light;
}

.container {
	padding: 1em 2em 1em 2em;
	@include mq($from: tablet) {
		padding: 1em 3em 1em 3em;
	}
}

.header {
	padding: 1em 0em 1em 0em;
	@include mq($from: desktop) {
		padding: 2em 0em 1em 0em;
	}
}

.heading, .subheading {
	@include rfs(32);
	@include mq($from: desktop, $until: wide) {
		@include rfs(36);
	}
	@include mq($from: wide) {
		@include rfs(40);
	}
	line-height: 1.5em;
}

.heading {
	margin-top: 5em;
	@include mq($from: desktop, $until: wide) {
		margin-top: 3em;
	}
	@include mq($from: wide) {
		margin-top: 7em;
	}
}

.subheading {
	font-family: $light;
	margin-bottom: 5em;
	@include mq($from: desktop, $until: wide) {
		margin-bottom: 2em;
	}
	@include mq($from: wide) {
		margin-bottom: 6em;
	}

}

#portfolio {
	margin-top: 4em;
	padding-top: 4em;
	@include mq($from: wide) {
		margin-top: 14em;
		padding-top: 5em;
	}
}

@mixin boldhead {
	font-family: $bold;
	font-weight: normal;
}

.navlink {
	@include boldhead();
	color: black;
	margin-right: 2em;
	@include mq($from: mobile-sm, $until: mobile) {
		@include rfs(14);
	}
	@include mq($from:large) {
		margin-right: 1.2em;
	}

	@include mq($from:tablet) {
		margin-right: 2em;
	}

	@include mq($from:desktop) {
		@include rfs(18);
	}
}

.navlink:hover, .navactive {
	color: $color;
}

a {
	text-decoration: none;
}

.title {
	padding-top: 2em;
}

.gap {
	margin-top: 4em;
}

.subheader {
	@include rfs(24);
	@include mq($from: wide) {
		@include rfs(28); 
	}
	margin-bottom: 0;
}


h1 {
	@include boldhead();
	@include rfs(36);
	@include mq($from: wide) {
		@include rfs(48); 
	}
	@include mq($from: desktop, $until: wide) {
		@include rfs(32);
	}
}

h2 {
	@include boldhead();
	@include rfs(26);
	@include mq($from: wide) {
		@include rfs(32); 
	}
	@include mq($from: desktop, $until: wide) {
		@include rfs(28);
	}
}


h3 {
	@include boldhead();
	margin-top: 3em;
	margin-bottom: 1.5em;
	@include rfs(20);
	@include mq($from: desktop) {
		@include rfs(24); 
		margin-top: 1em;
	}
}

h4 {
	font-family: $light;
	font-weight: normal;
	margin-top: 3em;
	margin-bottom: 1em;
	@include rfs(20);
	@include mq($from: desktop) {
		@include rfs(22); 
	}
}

p {
	color: black;
	line-height: 1.5em;
	margin-bottom: 1em;
}


span {
	color: $color;
	@include boldhead();
}

.links {
	color: $color;
	@include boldhead();
	text-decoration: none;
}

.links:hover {
	border-bottom: 1px solid $color;
}
.garmin {
	color: $garmin;
}

.hive {
	color: $hive;
}

.piaro {
	color: $piaro;
}


.astro {
	color: $astro;
}

.qfc {
	color: $qfc;
}

.side {
	color: $side;
}

@mixin card {
	display: flex;
	align-items: center;
	height: 10em;
	background-size: 9em;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 2em;
	@include mq($from: wide) {
		height: 10em;
		background-size: 8em;
		@include rfs(24);
	}
	@include mq($from: desktop, $until: wide) {
		@include rfs(20);
	}
}

.garbox {
	@include card;
	background-image: url('../images/garmin.svg');

}

.hbox {
	@include card;
	background-image: url('../images/hivequeen.svg');
}

.pbox {
	@include card;
	background-size: 12em;
	background-image: url('../images/chat.svg');
	@include mq($from: wide) {
		background-size: 10em;
	}
}

.abox {
	@include card;
	background-image: url('../images/astro.svg');
	flex-direction: row-reverse;
	text-align: right;
}

.qbox {
	@include card;
	background-image: url('../images/qfc.svg');
	flex-direction: row-reverse;
	text-align: right;
	background-size: 7em;
	@include mq($from: wide) {
		background-size: 6em;
	}
}
.sbox {
	@include card;
	background-image: url('../images/side.png');
	flex-direction: row-reverse;
	text-align: right;
}

/* Grow */
.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.07);
	transform: scale(1.07);
}

.hvr-grow:hover .underline, .hvr-grow:focus .underline, .hvr-grow:active .underline {
	border-bottom: 0.1em solid $garmin;
}

.hvr-grow:hover .underline1, .hvr-grow:focus .underline1, .hvr-grow:active .underline1 {
	border-bottom: 0.1em solid $hive;
}

.hvr-grow:hover .underline2, .hvr-grow:focus .underline2, .hvr-grow:active .underline2 {
	border-bottom: 0.1em solid $piaro;
}

.hvr-grow:hover .underline3, .hvr-grow:focus .underline3, .hvr-grow:active .underline3 {
	border-bottom: 0.1em solid $qfc;
}

.hvr-grow:hover .underline4, .hvr-grow:focus .underline4, .hvr-grow:active .underline3 {
	border-bottom: 0.1em solid $astro;
}

.hvr-grow:hover .underline5, .hvr-grow:focus .underline5, .hvr-grow:active .underline3 {
	border-bottom: 0.1em solid $side;
}

.nav-wrapper {
    height: 2em;
	line-height: 2em;
}

.nav-wrapper .nav {
    height: 2em;
	line-height: 2em;
	@include mq($from: desktop) {
		padding-top: 2em;
	}
}

.nav-wrapper .nav.fixed {
    position: fixed;
	z-index: 1000;
	width: 200%;
	height: 4em;
	padding-top: 1em;
	top: 0;
	background: white;
	padding-left: 11em;
	margin-left: -11em;
}

#call {
	color: black;
	border-bottom: 1px solid $color;
}

#call:hover {
	color: $color;
}

@mixin spacing {
	margin-top: 1em;
	@include mq($from: wide) {
		margin-top: 8em;
	}
	@include mq($from: desktop, $until: wide) {
		margin-top: 6em;
	}
}

.intro, .facts {
	@include spacing();
}

table {
	@include mq($from: desktop) {
		margin-left: 3em;
	}
}

th {
	font-family: $bold;
	font-weight: normal;
	padding: .75em 0em .75em 0em;
	text-align: left;
}

.first {
	padding-top: 0;
	margin-top: 0;
}

td {
	padding: .75em 0em .75em .75em;
}
form {
	font-family: $bold !important;
	margin-top: 6em;

}

input, textarea {
	width:100%;
	border: 1px solid gray;
	border-radius: 4px;
	font-family: $light;
	padding: 0.75em 0.5em 0.75em 0.5em;
	margin: 0.5em 0 1.5em 0;
	font-size: 1em;
}

input {
	@include mq($from: tablet) {
		width: 40%;
	}
}

#submit {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 2px solid $color;
	background-color: transparent;
	font-family: $bold;
	@include mq($until: tablet) {
		width: 40%;
	}
	@include mq($from: tablet) {
		width: 20%;
	}
}

#submit:hover {
	border: 2px solid $color;
	color: white;
	background-color: $color;
	@include mq($until: tablet) {
		width: 40%;
	}
	@include mq($from: tablet) {
		width: 20%;
	}
}
.contact {
	padding-top: 2em;
}

.text {
	@include spacing();
}

.me {
	box-shadow: 0em .25em .5em rgba(0, 0, 0, 0.2);
	max-width: 400px;
}

.shadow {
	box-shadow: .25em .25em .7em rgba(0, 0, 0, 0.1);
}

hr {
	color: rgba(0, 0, 0, 0.2);
}

.lightbox {
	z-index: 4;
}

.dam {
	margin-top: 4em;
}

.gallery {
	@include mq($from: tablet, $until: desktop) {
		height: 14em !important;
	}
	@include mq($from: desktop, $until: wide) {
		height: 14em !important;
	}
	@include mq($from: wide) {
		height: 16em !important;
	}
}

.overview {
	margin-bottom: 0em;
}

.pagination {
	color: black;
	font-family: $light;
	margin-bottom: 4em;
}

.next {
	padding-left: 2em;
}

.pagination:hover {
	color: $color;
	font-family: $bold;
}

.landing {
	text-align: center;
}

ul, ol {
	margin: 2em 2em 2em 2em;
	@include mq($from: desktop) {
		margin: 2em 6em 2em 6em;
	}
}

ul {
	list-style-type: circle;
}

ul li, ol li {
	padding-bottom: 1em;
}

.center {
	text-align: center;
}

.footer {
	@include mq($from: tablet) {
		text-align: right;
		margin-top: 0em;
	}
	margin-top: -2em;
}