*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper, .row {
  *zoom: 1;
}

.wrapper:before, .row:before, .wrapper:after, .row:after {
  content: " ";
  display: table;
}

.wrapper:after, .row:after {
  clear: both;
}

[class*='col'] {
  float: left;
  padding: 1em 1em 1em 1em;
  width: 100%;
  min-height: 1px;
}

@media (min-width: 43.75em) and (max-width: 56.24em) {
  .wrapper {
    width: 95%;
    max-width: 100%;
  }
  .col-1 {
    width: 8.33333%;
  }
  .col-2 {
    width: 16.66667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333%;
  }
  .col-5 {
    width: 41.66667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333%;
  }
  .col-8 {
    width: 66.66667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333%;
  }
  .col-11 {
    width: 91.66667%;
  }
  .col-12 {
    width: 100%;
  }
}

@media (min-width: 56.25em) {
  .wrapper {
    width: 95%;
    max-width: 60em;
  }
  .col-1 {
    width: 8.33333%;
  }
  .col-2 {
    width: 16.66667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333%;
  }
  .col-5 {
    width: 41.66667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333%;
  }
  .col-8 {
    width: 66.66667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333%;
  }
  .col-11 {
    width: 91.66667%;
  }
  .col-12 {
    width: 100%;
  }
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "Inter-Light-BETA";
  src: url("../fonts/Inter-Light-BETA.woff") format("woff");
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

* {
  font-family: Inter-Light-BETA;
}

.container {
  padding: 1em 2em 1em 2em;
}

@media (min-width: 43.75em) {
  .container {
    padding: 1em 3em 1em 3em;
  }
}

.header {
  padding: 1em 0em 1em 0em;
}

@media (min-width: 56.25em) {
  .header {
    padding: 2em 0em 1em 0em;
  }
}

.heading, .subheading {
  font-size: 2rem;
  line-height: 1.5em;
}

@media (max-width: 1200px) {
  .heading, .subheading {
    font-size: calc(1.325rem + 0.9vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .heading, .subheading {
    font-size: 2.25rem;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) and (max-width: 1200px) {
  .heading, .subheading {
    font-size: calc(1.35rem + 1.2vw) ;
  }
}

@media (min-width: 100em) {
  .heading, .subheading {
    font-size: 2.5rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .heading, .subheading {
    font-size: calc(1.375rem + 1.5vw) ;
  }
}

.heading {
  margin-top: 8em;
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .heading {
    margin-top: 3em;
  }
}

@media (min-width: 100em) {
  .heading {
    margin-top: 7em;
  }
}

.subheading {
  margin-bottom: 8em;
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .subheading {
    margin-bottom: 2em;
  }
}

@media (min-width: 100em) {
  .subheading {
    margin-bottom: 6em;
  }
}

#portfolio {
  margin-top: 4em;
  padding-top: 4em;
}

@media (min-width: 100em) {
  #portfolio {
    margin-top: 14em;
    padding-top: 5em;
  }
}

.navlink {
  font-family: Inter-Bold;
  font-weight: normal;
  color: black;
  margin-right: 2em;
}

@media (min-width: 21.25em) and (max-width: 24.99em) {
  .navlink {
    font-size: 0.875rem;
  }
}

@media (min-width: 35em) {
  .navlink {
    margin-right: 1.2em;
  }
}

@media (min-width: 43.75em) {
  .navlink {
    margin-right: 2em;
  }
}

@media (min-width: 56.25em) {
  .navlink {
    font-size: 1.125rem;
  }
}

.navlink:hover, .navactive {
  color: #80DEEA;
}

a {
  text-decoration: none;
}

.title {
  padding-top: 2em;
}

.gap {
  margin-top: 4em;
}

.subheader {
  font-size: 1.5rem;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .subheader {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

@media (min-width: 100em) {
  .subheader {
    font-size: 1.75rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .subheader {
    font-size: calc(1.3rem + 0.6vw) ;
  }
}

h1 {
  font-family: Inter-Bold;
  font-weight: normal;
  font-size: 2.25rem;
}

@media (max-width: 1200px) {
  h1 {
    font-size: calc(1.35rem + 1.2vw) ;
  }
}

@media (min-width: 100em) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  h1 {
    font-size: calc(1.425rem + 2.1vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) and (max-width: 1200px) {
  h1 {
    font-size: calc(1.325rem + 0.9vw) ;
  }
}

h2 {
  font-family: Inter-Bold;
  font-weight: normal;
  font-size: 1.625rem;
}

@media (max-width: 1200px) {
  h2 {
    font-size: calc(1.2875rem + 0.45vw) ;
  }
}

@media (min-width: 100em) {
  h2 {
    font-size: 2rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  h2 {
    font-size: calc(1.325rem + 0.9vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  h2 {
    font-size: 1.75rem;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) and (max-width: 1200px) {
  h2 {
    font-size: calc(1.3rem + 0.6vw) ;
  }
}

h3 {
  font-family: Inter-Bold;
  font-weight: normal;
  margin-top: 3em;
  margin-bottom: 1.5em;
  font-size: 1.25rem;
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.5rem;
    margin-top: 1em;
  }
}

@media (min-width: 56.25em) and (max-width: 1200px) {
  h3 {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

h4 {
  font-family: Inter-Light-BETA;
  font-weight: normal;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 1.25rem;
}

@media (min-width: 56.25em) {
  h4 {
    font-size: 1.375rem;
  }
}

@media (min-width: 56.25em) and (max-width: 1200px) {
  h4 {
    font-size: calc(1.2625rem + 0.15vw) ;
  }
}

p {
  color: black;
  line-height: 1.5em;
  margin-bottom: 1em;
}

span {
  color: #80DEEA;
  font-family: Inter-Bold;
  font-weight: normal;
}

.links {
  color: #80DEEA;
  font-family: Inter-Bold;
  font-weight: normal;
  text-decoration: none;
}

.links:hover {
  border-bottom: 1px solid #80DEEA;
}

.garmin {
  color: #007cc3;
}

.hive {
  color: #ebc347;
}

.piaro {
  color: #f38638;
}

.astro {
  color: #9DD19C;
}

.qfc {
  color: #81a565;
}

.side {
  color: #2d82e2;
}

.garbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10em;
  background-size: 9em;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2em;
  background-image: url("../images/garmin.svg");
}

@media (min-width: 100em) {
  .garbox {
    height: 10em;
    background-size: 8em;
    font-size: 1.5rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .garbox {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .garbox {
    font-size: 1.25rem;
  }
}

.hbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10em;
  background-size: 9em;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2em;
  background-image: url("../images/hivequeen.svg");
}

@media (min-width: 100em) {
  .hbox {
    height: 10em;
    background-size: 8em;
    font-size: 1.5rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .hbox {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .hbox {
    font-size: 1.25rem;
  }
}

.pbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10em;
  background-size: 9em;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2em;
  background-size: 12em;
  background-image: url("../images/chat.svg");
}

@media (min-width: 100em) {
  .pbox {
    height: 10em;
    background-size: 8em;
    font-size: 1.5rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .pbox {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .pbox {
    font-size: 1.25rem;
  }
}

@media (min-width: 100em) {
  .pbox {
    background-size: 10em;
  }
}

.abox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10em;
  background-size: 9em;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2em;
  background-image: url("../images/astro.svg");
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

@media (min-width: 100em) {
  .abox {
    height: 10em;
    background-size: 8em;
    font-size: 1.5rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .abox {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .abox {
    font-size: 1.25rem;
  }
}

.qbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10em;
  background-size: 9em;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2em;
  background-image: url("../images/qfc.svg");
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
  background-size: 7em;
}

@media (min-width: 100em) {
  .qbox {
    height: 10em;
    background-size: 8em;
    font-size: 1.5rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .qbox {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .qbox {
    font-size: 1.25rem;
  }
}

@media (min-width: 100em) {
  .qbox {
    background-size: 6em;
  }
}

.sbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10em;
  background-size: 9em;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 2em;
  background-image: url("../images/side.png");
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

@media (min-width: 100em) {
  .sbox {
    height: 10em;
    background-size: 8em;
    font-size: 1.5rem;
  }
}

@media (min-width: 100em) and (max-width: 1200px) {
  .sbox {
    font-size: calc(1.275rem + 0.3vw) ;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .sbox {
    font-size: 1.25rem;
  }
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

.hvr-grow:hover .underline, .hvr-grow:focus .underline, .hvr-grow:active .underline {
  border-bottom: 0.1em solid #007cc3;
}

.hvr-grow:hover .underline1, .hvr-grow:focus .underline1, .hvr-grow:active .underline1 {
  border-bottom: 0.1em solid #ebc347;
}

.hvr-grow:hover .underline2, .hvr-grow:focus .underline2, .hvr-grow:active .underline2 {
  border-bottom: 0.1em solid #f38638;
}

.hvr-grow:hover .underline3, .hvr-grow:focus .underline3, .hvr-grow:active .underline3 {
  border-bottom: 0.1em solid #81a565;
}

.hvr-grow:hover .underline4, .hvr-grow:focus .underline4, .hvr-grow:active .underline3 {
  border-bottom: 0.1em solid #9DD19C;
}

.hvr-grow:hover .underline5, .hvr-grow:focus .underline5, .hvr-grow:active .underline3 {
  border-bottom: 0.1em solid #2d82e2;
}

.nav-wrapper {
  height: 2em;
  line-height: 2em;
}

.nav-wrapper .nav {
  height: 2em;
  line-height: 2em;
}

@media (min-width: 56.25em) {
  .nav-wrapper .nav {
    padding-top: 2em;
  }
}

.nav-wrapper .nav.fixed {
  position: fixed;
  z-index: 1000;
  width: 200%;
  height: 4em;
  padding-top: 1em;
  top: 0;
  background: white;
  padding-left: 11em;
  margin-left: -11em;
}

#call {
  color: black;
  border-bottom: 1px solid #80DEEA;
}

#call:hover {
  color: #80DEEA;
}

.intro, .facts {
  margin-top: 1em;
}

@media (min-width: 100em) {
  .intro, .facts {
    margin-top: 8em;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .intro, .facts {
    margin-top: 6em;
  }
}

@media (min-width: 56.25em) {
  table {
    margin-left: 3em;
  }
}

th {
  font-family: Inter-Bold;
  font-weight: normal;
  padding: .75em 0em .75em 0em;
  text-align: left;
}

.first {
  padding-top: 0;
  margin-top: 0;
}

td {
  padding: .75em 0em .75em .75em;
}

form {
  font-family: Inter-Bold !important;
  margin-top: 6em;
}

input, textarea {
  width: 100%;
  border: 1px solid gray;
  border-radius: 4px;
  font-family: Inter-Light-BETA;
  padding: 0.75em 0.5em 0.75em 0.5em;
  margin: 0.5em 0 1.5em 0;
  font-size: 1em;
}

@media (min-width: 43.75em) {
  input {
    width: 40%;
  }
}

#submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #80DEEA;
  background-color: transparent;
  font-family: Inter-Bold;
}

@media (max-width: 43.74em) {
  #submit {
    width: 40%;
  }
}

@media (min-width: 43.75em) {
  #submit {
    width: 20%;
  }
}

#submit:hover {
  border: 2px solid #80DEEA;
  color: white;
  background-color: #80DEEA;
}

@media (max-width: 43.74em) {
  #submit:hover {
    width: 40%;
  }
}

@media (min-width: 43.75em) {
  #submit:hover {
    width: 20%;
  }
}

.contact {
  padding-top: 2em;
}

.text {
  margin-top: 1em;
}

@media (min-width: 100em) {
  .text {
    margin-top: 8em;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .text {
    margin-top: 6em;
  }
}

.me {
  -webkit-box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.2);
          box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

hr {
  color: rgba(0, 0, 0, 0.2);
}

.lightbox {
  z-index: 4;
}

.dam {
  margin-top: 4em;
}

@media (min-width: 43.75em) and (max-width: 56.24em) {
  .gallery {
    height: 14em !important;
  }
}

@media (min-width: 56.25em) and (max-width: 99.99em) {
  .gallery {
    height: 14em !important;
  }
}

@media (min-width: 100em) {
  .gallery {
    height: 18em !important;
  }
}

.overview {
  margin-bottom: 0em;
}

.pagination {
  color: black;
  font-family: Inter-Light-BETA;
  margin-bottom: 4em;
}

.next {
  padding-left: 2em;
}

.pagination:hover {
  color: #80DEEA;
  font-family: Inter-Bold;
}

.landing {
  text-align: center;
}

ul, ol {
  margin: 2em 2em 2em 2em;
}

@media (min-width: 56.25em) {
  ul, ol {
    margin: 2em 6em 2em 6em;
  }
}

ul {
  list-style-type: circle;
}

ul li, ol li {
  padding-bottom: 1em;
}

.center {
  text-align: center;
}

.footer {
  margin-top: -2em;
}

@media (min-width: 43.75em) {
  .footer {
    text-align: right;
    margin-top: 0em;
  }
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper, .row {
  *zoom: 1;
}

.wrapper:before, .row:before, .wrapper:after, .row:after {
  content: " ";
  display: table;
}

.wrapper:after, .row:after {
  clear: both;
}

[class*='col'] {
  float: left;
  padding: 1em 1em 1em 1em;
  width: 100%;
  min-height: 1px;
}

@media (min-width: 43.75em) and (max-width: 56.24em) {
  .wrapper {
    width: 95%;
    max-width: 100%;
  }
  .col-1 {
    width: 8.33333%;
  }
  .col-2 {
    width: 16.66667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333%;
  }
  .col-5 {
    width: 41.66667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333%;
  }
  .col-8 {
    width: 66.66667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333%;
  }
  .col-11 {
    width: 91.66667%;
  }
  .col-12 {
    width: 100%;
  }
}

@media (min-width: 56.25em) {
  .wrapper {
    width: 95%;
    max-width: 60em;
  }
  .col-1 {
    width: 8.33333%;
  }
  .col-2 {
    width: 16.66667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333%;
  }
  .col-5 {
    width: 41.66667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333%;
  }
  .col-8 {
    width: 66.66667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333%;
  }
  .col-11 {
    width: 91.66667%;
  }
  .col-12 {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */